{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="card shadow-sm">
        <img src="{{ cocktail.image.url }}" class="img-fluid rounded mx-auto d-block" style="max-width: 400px; max-height: 400px; object-fit: cover;" alt="{{ cocktail.name }}">
        <div class="card-body">
            <h2 class="text-center text-primary">{{ cocktail.name }}</h2>

            <!-- Cocktail Category and Alcoholic Status -->
            <h5>Category: <span class="text-muted">{{ cocktail.category.name }}</span></h5>
            <h5>Alcoholic:
                <span class="badge {% if cocktail.category.is_alcoholic %}badge-danger{% else %}badge-success{% endif %}">
                    {% if cocktail.category.is_alcoholic %}Yes{% else %}No{% endif %}
                </span>
            </h5>

            <h4 class="mt-3">Ingredients:</h4>
            <ul>
                {% for ingredient_entry in cocktail.cocktailingredient_set.all %}
                    <li>{{ ingredient_entry.ingredient.name }} - {{ ingredient_entry.amount }}</li>
                {% empty %}
                    <p>No ingredients added yet.</p>
                {% endfor %}
            </ul>

            <h4>Instructions:</h4>
            <p>{{ cocktail.instructions }}</p>
        </div>
        {% if user.is_authenticated and user.groups.all|length > 0 %}
            {% for group in user.groups.all %}
                {% if group.name == "user" %}
                    <a href="{% url 'add-to-favorites' cocktail.id %}" class="btn btn-success mt-2">Add to Favorites</a>
                {% endif %}
            {% endfor %}
        {% else %}
            <div class="alert alert-info text-center mt-3">
                <p>
                    Want to save this cocktail to your <strong>Favorites List?</strong>
                    <br>
                    <a href="{% url 'register' %}?next={{ request.path }}" class="btn btn-primary btn-sm">Sign Up</a>
                    or
                    <a href="{% url 'login' %}?next={{ request.path }}" class="btn btn-secondary btn-sm">Login</a>
                    to start adding your favorite cocktails!
                </p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

