{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Create a New Cocktail</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="card shadow-sm p-4">
            <h4>Cocktail Details</h4>
            {{ form | crispy }}
        </div>

        <div class="card shadow-sm p-4 mt-3">
            <h4>Ingredients</h4>
            {{ ingredient_formset.management_form }}
            <div id="ingredient-formset">
                {% for form in ingredient_formset %}
                    <div class="row ingredient-row">
                        <div class="col-md-6">
                            {{ form.ingredient | as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            {{ form.amount | as_crispy_field }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">Save Cocktail</button>
            <a href="{% url 'cocktail-list' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}
